<div class="home-image">
  <div class="image-card">
    <img
      src="components/saya/saya.webp"
      alt="Muhammad Alif Qadri"
      class="profile-image"
    />
    <div class="card-overlay">
      <div class="card-header">
        <h2 class="card-name">Muh Alif Qadri</h2>
        <p class="card-title">UI UX Designer & Web Developer</p>
      </div>
      <div class="card-footer">
        <div class="footer-content">
          <img
            src="components/saya/saya.webp"
            alt="Profile"
            class="status-img"
          />
          <div class="footer-text">
            <span class="status-username">@Lippyy</span>
            <span class="status-online">Online</span>
          </div>
          <button class="btn btn-primary">
            <i class="fas fa-envelope contact-icon"></i>
            <span class="contact-text">Contact Me</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
